/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--accent-background-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

/* -------------------------ОБЕРТКИ ДЛЯ ПОВТОРЯЮЩИХСЯ СТИЛЕЙ------------------------- */
.header__theme-menu-button_active {
  pointer-events: none;
  box-sizing: border-box;
  border: 1px solid var(--element-color);
  font-family: var(--osnova-font-family);
}

.logo-style {
  font-family: var(--osnova-font-family);
  font-weight: 700;
  line-height: 82.5%;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--title-color);
}

.title-decor-color {
  background-color: var(--accent-color);
}

.text-style {
  color: var(--text-color);
  font-family: var(--osnova-font-family);
  font-size: var(--osnova-font-size);
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0%;
  text-align: left;
}

.text-pink-background {
  color: var(--subtitle-content-color);
  font-family: var(--osnova-font-family);
  font-size: var(--osnova-font-size);
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0%;
  text-align: left;
}

.pink-text-style {
  color: var(--element-color);
  font-family: var(--osnova-font-family);
  font-size: var(--osnova-font-size);
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0%;
  text-align: left;
}

.link-styles {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link-styles:hover {
  border-bottom: 1px solid var(--text-color);
}

.link-styles:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
  box-sizing: border-box;
}

.container {
  padding: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
}
/* --------------------------------------------------------------------------- */

/* ------------------------------------ШАПКА---------------------------------- */
.header {
  position: relative;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  margin-block-end: clamp(40px, 10%, 60px);
  block-size: 100vh;  
  min-height: 668px;
} 

.decorated__REC {
  position: absolute;
  color: rgb(255, 0, 112);
  font-family: var(--osnova-font-family);
  font-size: var(--osnova-font-size);
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  right: 40px;
  top: 10px;
  display: var(--display);
}

.decorated__REC::after {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 4px 2px rgb(255, 0, 112);
  background: rgb(255, 0, 112);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  top: 8px;
  margin-inline-start: 14px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--element-color);
  border-right: 1px solid var(--element-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--element-color);
  border-bottom: 1px solid var(--element-color);
  left: 10px;
  bottom: 10px;
}

.header__theme-menu {
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  color: var(--element-color);
  font-family: var(--osnova-font-family);
  font-size: var(--osnova-font-size);
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  box-sizing: border-box;
  padding: 3px 13px 3px 13px;
}

.header__theme-menu-button:hover {
  box-sizing: border-box;
  border: 1px solid var(--element-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--element-color);
}

.header__logo {
  margin-block-start: clamp(4.6875rem, -2.499rem + 30.6626vw, 17.125rem);
  margin-block-end: clamp(3.4375rem, 1.3068rem + 9.0909vw, 7.125rem);
  text-shadow: 4px 4px 0 var(--shadow-color);
  
}

.header__preview {
  margin-block-end: 56px;
  align-self: flex-end;
}

/* -----------------------------СЕКЦИИ С ТЕКСТОМ И КАРТИНКАМИ----------------------------------------------- */
.section {
  margin-block-end: 50px;
}

.section__title {
  max-width: 355px;
  margin-block-end: 20px;
}

.cards__title {
  margin-block-end: 10px;
}

.cards {
  margin-block-end: 20px;
}

.title-gold-fish {
  margin-block-end: 20px;
}

.mini__cards_title {
  color: var(--subtitle-content-color);
  background-color: var(--accent-color);
  font-family: var(--osnova-font-family);
  font-size: var(--osnova-font-size);
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0%;
  text-align: left;
  margin-block-end: 10px;
}

.margin-10 {
  margin-block-end: 10px;
}

.cards__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img__style {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ----------------------ПОДВАЛ----------------------------------------------- */
.footer {
  position: relative;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  text-shadow: 4px 4px 0 var(--shadow-color);
}

/* -----------------------МЕДИАЗАПРОСЫ------------------------------------------ */

@media (min-width: 768px) {
  .logo-style {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__preview {
    max-width: 364px;
    justify-self: end;
  }

  .header__logo {
    margin-block-start: 173px;
    margin-block-end: 162px;
    margin-left: -10px;
  }

  .focus {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 10px;
  }

  .focus__title-grid {
    grid-column: 1/1;
  }

  .focus__grid-cards {
    grid-column: 2/4;
  }

  .concentration {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: min-content 1fr 1fr 1fr;
  }

  .concentration__title-grid {
    grid-column: 1/2;
  }

  .concentration__grid-card {
    grid-column: 1/4;
  }

  .gold-fish {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 10px;
  }

  .cards__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .tape {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .books {
    grid-column: 2/3;
  }
  .street {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}

@media (min-width: 1024px) {

  .header__logo {
    margin-left: -10px;
  }

  .logo-style {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header__preview {
    min-width: 491px;
  }

  .concentration {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    grid-template-rows: min-content 1fr;
    gap: 20px;
  }

  .mnogo {
    grid-column: 1/2;
  }

  .food {
    grid-column: 2/3;
  }

  .gadj {
    grid-column: 3/3;
  }
}
/* ----------------------------------------------------------------------------- */