/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --osnova-size: 18px;
  --bg-color: rgb(255, 0, 112);
  --subtitle-content-color: #000028;
  --text-color: rgb(241, 178, 206);
  --element-color: rgb(255, 0, 112);
  --title-color: rgb(219, 0, 255);
  --shadow-color: rgb(255, 0, 112);
  --display: inline-block;
  --accent-background-image: url("../images/cover-image-dark.png");
  --page-bg-color:#000028;
  
}
